.error {
    text-align: center;
    font-size: 2rem;
    color: red;
    font-family: "Arial Narrow Bold", sans-serif;
}

@media screen and (max-width: 500px) {
    .error {
        font-size: 24px;
    }
}
