.img:hover {
    border-color: #20c997;
    border-width: 5px;
    border-style: solid;
    border-radius: 0.7rem;
    opacity: 0.6;
    transform: scale(1.08);
    transition: 500ms ease-in;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .img {
        width: 80%;
    }
    .list {
        display: contents;
    }
}

@media screen and (max-width: 460px) {
    .list {
        max-width: 80%;
        height: 75vh;
    }
    .img {
        width: 100%;
        max-height: 80%;
    }
}
