.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.808);
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 2;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 3;
}

.data {
    background-color: rgba(238, 231, 231, 0.637);
    max-width: 80%;
    height: 75vh;
    position: fixed;
    z-index: 3;
    border-color: #20c997;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.img {
    width: 100%;
    max-height: 80%;
}

@media screen and (max-width: 800px) {
    .data {
        justify-content: normal;
        max-height: 80vh;
    }
    .img {
        height: 100%;
    }
    .external {
        padding: 25px 0px 25px 0px;
    }
    .link:hover {
        margin-top: 2px;
    }
}

.link {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 1.7px;
    background-color: #20c997;
    border-radius: 2em;
    width: 250px;
    display: block;
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    text-align: center;
    transition: 0.3s ease;
}

.link:hover {
    color: #20c997;
    background-color: white;
    border-color: #20c997;
}

.external {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

@media screen and (max-width: 500px) {
    .link {
        padding: 15px;
        width: 180px;
        font-size: 16px;
    }
}

.star {
    position: absolute;
    right: 30px;
    bottom: 5rem;
}

@media screen and (max-width: 420px) {
    .star {
        right: 15px;
    }
}

.star svg:hover {
    fill: yellow;
}
