.img:hover {
    border-color: #20c997;
    border-width: 5px;
    border-style: solid;
    border-radius: 0.7rem;
    opacity: 0.6;
    transform: scale(1.08);
    transition: 500ms ease-in;
    cursor: pointer;
}
